.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(89, 95, 97);
  color: white;
  text-decoration: none;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.header {
  text-align: center;
}
.addForm {
  text-align: center;
}
.addRecipe__input {
  margin-bottom: 20px;
}
.addRecipe__subheading {
  font-size: 12px;
  padding-right: 5px;
}


