.App {
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #47758f;
  color: white;
  text-decoration: none;
}
.logo {
  width: 60px;
  height: 60px;
  padding: 5px;
}
.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.header {
  text-align: center;
}
.addForm {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
.addItem__input {
  margin-bottom: 15px;
}
.addItem__subheading {
  font-size: 12px;
  padding-right: 5px;
  font-weight: bold;
}
.listContainer {
  margin-bottom: 30px;
  margin-top: 30px;
}
.listCard {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}



